exportPattern("^[[:alpha:]]+")
importFrom("stats", "integrate", "optim", "pf", "pnorm", "qf", "qnorm")
export(sampleSeSp)
export(samplearea)
export(hypoarea)
export(fixedFPRsample)
export(samplepartialarea)
export(samplecompareSe)
export(samplecompareSp)
export(samplecomparePPV)
export(samplecompareNPV)
export(samplecompareAUC_binormal)
export(samplecompareAUC_any)
export(samplefixedFPR)
export(non_inferiority_Se)
export(non_inferiority_Sp)
export(non_inferiority_AUC_binormal)
export(non_inferiority_AUC_any)
export(non_inferiority_fixedFPR)
export(non_inferiority_partialAUC)
export(equivalency_Se)
export(equivalency_Sp)
export(equivalency_AUC_binormal)
export(equivalency_AUC_any)
export(equivalency_fixedFPR)
export(equivalency_partialAUC)
export(non_inferiority_rTPR)
export(non_inferiority_rFPR)
export(non_inferiority_PPV)
export(non_inferiority_NPV)
export(samplecutoff)
export(MRMC_nopilot_Se)
export(MRMC_nopilot_AUC)
export(MRMC_nopilot_fixedFPR)
export(MRMC_nopilot_partialAUC)
export(sample_fixedreader_AUC_Blume)
export(sample_fixedreader_AUC_Obuchowski)
export(MRMC_pilot)
